<section class="d-flex justify-content-center align-items-center">
    <aside>
      <!-- <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item" (click)="setUser(2)">
            <a class="nav-link" [ngClass]="regFrm.value.userType == 2 ? 'active': ' disabled'">Retailer</a>
          </li>

          <li class="nav-item" (click)="setUser(1)">
            <a class="nav-link" [ngClass]="regFrm.value.userType == 1 ? 'active': ' disabled'">Dealer</a>
          </li>
        </ul>
      </div> -->
        <div class="p-4">
            <!-- <h1 *ngIf="regFrm.value.userType == 2">Retailer Register</h1>
            <h1 *ngIf="regFrm.value.userType == 1">Dealer Register</h1> -->
            <h1>Register</h1>
            <div *ngIf="regMsg" class="alert" [ngClass]="regMsg.alert">{{regMsg.msg}}</div>
            <form [formGroup]="regFrm" (submit)="regOn()">
                <h4>Mobile</h4>
                <input type="text" formControlName="mobileNo" pattern="^([+][9][1]|[9][1]|[0]){0,1}([6-9]{1})([0-9]{9})$" />
                <div class="alert alert-danger inputMsg" role="alert" *ngIf="regSubmit && autoFrm.mobileNo.errors">
                    <div *ngIf="autoFrm.mobileNo.errors.required">Please mention your mobile number</div>
                    <div *ngIf="autoFrm.mobileNo.errors.pattern">Please mention a valid mobile number (without +91 and 0)</div>
                </div>
                <h4>E-mail</h4>
                <input type="text" formControlName="email" />
                <div class="alert alert-danger inputMsg" role="alert" *ngIf="regSubmit && autoFrm.email.errors">
                    <div *ngIf="autoFrm.email.errors.required">Please mention your email address</div>
                    <div *ngIf="autoFrm.email.errors.email">Please enter a valid email address</div>
                </div>
                <h4>First Name</h4>
                <input type="text" formControlName="fstName" />
                <div class="alert alert-danger inputMsg" role="alert" *ngIf="regSubmit && autoFrm.fstName.errors">
                    <div *ngIf="autoFrm.fstName.errors.required">Please mention your first name</div>
                </div>
                <h4>Last Name</h4>
                <input type="text" formControlName="lstName" />
                <div class="alert alert-danger inputMsg" role="alert" *ngIf="regSubmit && autoFrm.lstName.errors">
                    <div *ngIf="autoFrm.lstName.errors.required">Please mention your last name</div>
                </div>
                <h4>Domain</h4>
                <!-- <input type="text" formControlName="domain" /> -->
                <select formControlName="domain">
                  <option value="">Select</option>
                  <option value="Medical">Medical</option>
                  <option value="Garments">Garments</option>
                  <option value="Footwear">Footwear</option>
                  <option value="Electronics">Electronics</option>
                  <option value="SuperMart">Super Mart</option>
                  <option value="MiniMart">Mini Mart</option>
                  <option value="Service">Service</option>
                  <option value="Legal service">Legal service</option>
                  <option value="Civil work">Civil work</option>
                  <option value="Education">Education</option>

                </select>
                <div class="alert alert-danger inputMsg" role="alert" *ngIf="regSubmit && autoFrm.domain.errors">
                    <div *ngIf="autoFrm.domain.errors.required">Please mention your domain name</div>
                </div>
                <h4>Company Name</h4>
                <input type="text" formControlName="companyName" />
                <div class="alert alert-danger inputMsg" role="alert" *ngIf="regSubmit && autoFrm.companyName.errors">
                    <div *ngIf="autoFrm.companyName.errors.required">Please mention your company name</div>
                </div>

                <h4>Password</h4>
                <input type="password" formControlName="yrPass" />
                <div class="alert alert-danger inputMsg" role="alert" *ngIf="regSubmit && autoFrm.yrPass.errors">
                    <div *ngIf="autoFrm.yrPass.errors.required">Please mention your password</div>
                </div>

                <button type="submit" >Register</button>
                <hr />
                <h3>Already registered? <a routerLink="">Login Now</a></h3>
            </form>
        </div>
    </aside>
</section>
