<app-header></app-header>

<section class="container py-4">
  <!-- <nav id="toggleMenu" class="d-flex justify-content-between align-items-end">
      <a [ngClass]="paid ? 'active' : ''" (click)="getMonthData()"> Paid </a>
      <a [ngClass]="!paid ? 'active' : ''"  (click)="unpaid()">Unpaid</a>
  </nav> -->
  <a (click)="toggleFilter()" class="filterNow"><span class="filter"></span> Filter</a>
  <div class="p-4" id="filterSec" >

    <div  >
      <owl-carousel [options]="menuOptions" [items]="monthData" [carouselClasses]="['owl-theme', 'row', 'sliding']" *ngIf="monthData">
          <div class="optionList" *ngIf="monthData[0]" (click)="filterMonthsWeek(1,0, monthData[0].list)" [ngClass]="{'active': selectMonth === 0}">
              <strong>Current Month</strong>
              <i class="currentMonth"></i>
              <span>({{monthData[0].list !== undefined ? monthData[0].list?.length : 0}}) &nbsp; &nbsp;  Rs. {{monthData[0].price}}/-</span>
          </div>
          <div class="optionList" *ngIf="monthData[1]" (click)="filterMonthsWeek(2,1, monthData[1].list)" [ngClass]="{'active': selectMonth === 1}">
              <strong>Last 2 Months</strong>
              <i class="lastMonth"></i>
              <span>({{monthData[0].list !== undefined ? monthData[2].list?.length : 0}}) &nbsp; &nbsp;  Rs. {{monthData[2].price}}/-</span>
          </div>

          <div class="optionList" *ngIf="monthData[2]" (click)="filterMonthsWeek(3,2, monthData[2].list)" [ngClass]="{'active': selectMonth === 2}">
              <strong>Last 3 Months</strong>
              <i class="lastMonth"></i>
              <span>({{monthData[0].list !== undefined ? monthData[2].list?.length : 0}}) &nbsp; &nbsp;  Rs. {{monthData[2].price}}/-</span>
          </div>

          <div class="optionList" *ngIf="monthData[3]" (click)="filterMonthsWeek(6,3, monthData[3].list)" [ngClass]="{'active': selectMonth === 3}">
              <strong>Last 6 Months</strong>
              <i class="lastMonth"></i>
              <span>({{monthData[0].list !== undefined ? monthData[3].list?.length : 0}}) &nbsp; &nbsp;  Rs. {{monthData[3].price}}/-</span>
          </div>

          <div class="optionList" *ngIf="monthData[4]" (click)="filterMonthsWeek(9,4, monthData[4].list)" [ngClass]="{'active': selectMonth === 4}">
              <strong>Last 9 Months</strong>
              <i class="lastMonth"></i>
              <span>({{monthData[0].list !== undefined ? monthData[4].list?.length : 0}}) &nbsp; &nbsp;  Rs. {{monthData[4].price}}/-</span>
          </div>
      </owl-carousel>
    </div>
    <div  *ngIf="filter">
          <div class="">
              <owl-carousel [options]="menuOptions" [items]="weekData" [carouselClasses]="['owl-theme', 'row', 'sliding']">
                  <div class="optionList" *ngFor="let wk of weekData; let i = index" [ngClass]="{'active': selectWeek == i}" (click)='filterDays(i+1, monthData[4].list)'>
                      <strong>Week {{i+1}}</strong>
                      <i class="week"></i>

                      <span>({{wk.list?.length}}) &nbsp; &nbsp;  Rs. {{wk.price}}/-</span>
                  </div>
              </owl-carousel>
          </div>
      </div>
      <div class="" *ngIf="filter">
        <div class="">
            <owl-carousel [options]="menuOptions" [items]="daysData" [carouselClasses]="['owl-theme', 'row', 'sliding']">
                <div class="optionList" *ngFor="let wk of daysData; let i = index" (click)='upiPaymentData(wk)'>
                  <strong *ngIf="i == 0 && selectWeek == 0">Today</strong>
                  <strong *ngIf="i == 1 && selectWeek == 0">Yesterday</strong>
                  <strong *ngIf="i == 0 && selectWeek > 0">day 1</strong>
                  <strong *ngIf="i == 1 && selectWeek > 0">day 2</strong>
                  <strong *ngIf="i > 1">day {{i+1}}</strong>
                  <i class="week"></i>
                  <span>({{wk.list?.length}}) &nbsp; &nbsp;  Rs. {{wk.price}}/-</span>
                </div>
            </owl-carousel>
        </div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                  <div class="container">
                    <b>Purchase Line</b>
                    <div class="top">
                      <div class="top-element">12 sep Rs 1000</div>
                      <div class="top-element">12 sep Rs 500</div>
                      <div class="top-element">30 sep Rs 2000</div>
                      <div class="top-element">1 oct Rs 2000</div>
                      <div class="top-element">10 oct Rs 2000</div>
                      <div class="top-element">20 oct Rs 2000</div>
                    </div>
                      <div class="line"></div>
                      <div class="bottom">
                        <!-- <div class="bottom-element">20 september Rs 1000</div>
                        <div class="bottom-element">20 september Rs 1800</div> -->
                      </div>
                  </div>
                  <div class="container">
                    <b>Payment line</b>
                    <div class="top">

                    </div>
                      <div class="line"></div>
                      <div class="bottom">
                        <div class="bottom-element">20 sep Rs 1000</div>
                        <div class="bottom-element">20 sep Rs 1800</div>
                        <div class="bottom-element">30 sep Rs 1000</div>
                        <div class="bottom-element">1 oct Rs 1800</div>
                        <div class="bottom-element">10 oct Rs 1000</div>
                        <div class="bottom-element">25 oct Rs 1800</div>
                      </div>
                  </div>
                </div>
            </div>

        </div>
    </div>
  </div>
</section>
<section class="container">

    <div class="my-3">

        <owl-carousel
            [options]="cOptions" [items]="billDData" [carouselClasses]="['owl-theme', 'row', 'sliding']">
            <fieldset *ngFor="let bImg of billDData; let i = index">
                <legend>{{bImg.billDetails.deportment}} {{bImg.billDetails.genDate | date: 'medium'}} {{bImg.billDetails.user}}</legend>



                <img [src]="serverPath+'/pdfBills/images/'+bImg.billDetails.billImg[0].name" alt="{{bImg.billDetails.billImg[0].name}}" (click)="showBill(i)" />
                <nav class="menuBtn d-flex flex-wrap align-items-center justify-content-between">

                </nav>
            </fieldset>
        </owl-carousel>

    </div>
</section>
<!-- <section id="chartSec" class="container my-4 text-center">
    <img src="/assets/images/pie-chart.jpg" alt="pie chart" />
</section> -->
<app-side-bar></app-side-bar>

<ng-template #deliveryTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delivered</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="dMsg" class="alert-success">{{msg}}</div>
    <form [formGroup]="paymentForm" (submit)="addDelivery()">
        <h4>Select a payment method</h4>
        <select formControlName="payMode" class="form-control" >
            <option value="">Select</option>
            <option value="Net Banking">Net Banking</option>
            <option value="cash">Cash</option>
            <option value="card">Card</option>
            <option value="upi">UPI</option>
            <option value="other">Other</option>
            <option value="credit">Credit</option>
        </select>
        <!-- <div class="alert alert-danger inputMsg" role="alert" *ngIf="dSubmit && dFrm.payMode.errors">
            <div *ngIf="dFrm.payMode.errors.required">Please mention your payment mode</div>
        </div> -->
        <!-- <button type="submit" class="mt-4"  [disabled]="dBtm"><a class="btn">Update</a></button> -->
        <button type="submit" class="mt-4 buttonClass" [disabled]="dBtm">Update</button>
    </form>
  </div>
</ng-template>

<section id="billPop" *ngIf="popBill">
    <aside>
        <a (click)="showBill(0)" class="close"></a>
        <img [src]="serverPath+'/pdfBills/images/'+billData[popId].billImg[0].name" alt="{{billData[popId].billImg[0].name}}" />
    </aside>
</section>
